@{
    ViewBag.Title = "Power Lines";
}

<div class="jumbotron">
    <h1>Power Lines <img style="margin-bottom:10px;" src="~/images/Logo.png" /></h1>
    <p class="lead">Calculates odds and get betting recommendations for the latest football fixtures.</p>
    <button class="btn btn-primary btn-lg" onclick="window.location.href='@Url.Action("Index", "Rating")'" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Calculating...">View Fixtures</button>  
</div>
