body {
  font-family: 'Saira Condensed', sans-serif;        
}

.home {
  background: url(../images/PowerLines.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Saira Condensed', sans-serif;
}

.jumbotron {
  font-weight: normal;
}

.jumbotron h1 {
  font-size: 3rem;
}

.btn-primary {
  background-color: #3276b1;
  border-color: #285e8e;
}

#bet-slip {
  position: fixed;
  bottom:100px;
}

@media(max-width:650px) {
  .no-mobile {
      display: none;
  }

  select.input-sm {
      padding: 1px;
  }
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

